{% load static %}
{% load filters %}
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/reset.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/ninesixty.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/text.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/style.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/popup.css" >
<!--  <link rel="stylesheet" href="{% get_static_prefix %}fancybox/fancybox-1.3.4.css" type="text/css" media="screen"> -->
  <script type="text/javascript">
  function feedbackPopup() {
  window.open("/feedback/", "feedbackWindow", "status=1, height = 600, width = 600, resizable = 0")
  }
  </script>

  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/dropdown.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/pk.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/popup.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}{% block js %}{% endblock js %}"> </script>
  <script type="text/javascript" src="{% get_static_prefix %}{% block js2 %}{% endblock js2 %}"> </script>
<!--  <script type="text/javascript" src="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.js"></script> -->

<title>                                                                                                                                         
Clothesliner                                                                                                                                  
</title>


	<!-- start Mixpanel <script type="text/javascript">var mpq=[];mpq.push(["init","22c229665c519c7fb9b7a703e0df621e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script> end Mixpanel -->
</head>
<body>
<div id="sidebar">
  <input type="image" src="{% get_static_prefix %}images/Feedback.jpg" width="" onClick="feedbackPopup()">
</div>

<div id="container" class="container_16">

  <div id="header" class= "alpha omega grid_16">
    <div id="title">
      <h1><a href="http://clothesliner.com">Clothesliner</a></h1>
      <h3>find pants that fit (beta)</h3>
      </div> <!--closes the title div-->
      
    <div id="headerlinks">
      <ul>
        <li><a href="/demonstration/search/">Search</a></li>
		<li id="compareitems" onclick="popupForm(cart[0], '{{token}}');"> Compare (0 Items)</li>
        <!--<li><a id="compareitems" href="/p4tt/super_compare/">Compare Items (0)</a></li>-->

        </ul>
      </div> <!--closes the headerlinks div-->
    <hr />
    </div> <!--closes the header div-->


{% block refpant %}
{% endblock refpant%}

{% block bodycontent%}
{% endblock bodycontent%}

<div id="footer" class="alpha omega grid_16">
    <hr />
    <div id="footerlinks">
      <ul>
        <li><a href="/demonstration/about/">About</a></li>
        <li><a href="http://www.clothesliner.tumblr.com/">Tumblr</a></li>
        <li><a href="/create/">Enter a Pant</a></li>
        <li><a href="/demonstration/logout">Logout</a></li>
      </ul>
    </div> <!--closes the footerlinks div-->
  </div> <!--closes the footer div-->
</div> <!--closes the container div-->

</body>
</html>
