{% extends "index.html" %}
{% load static %}

{% block pages %}
<div id="sidebar">
  <input type="image" src="{% get_static_prefix %}images/Feedback.jpg" width="" onClick="feedbackPopup()">
</div>
<div id="container" class="container" style="margin-top:20px">
<div id="header" class= "alpha omega sixteen columns">
        <div id="title" class="alpha eight columns">
			<a href="http://clothesliner.com"><img src="{% get_static_prefix %}images/logo_a_black.png"/></a>
        </div> <!--closes the title div-->

                <div id="headerlinks" class="omega eight columns">
                  <ul>
                        <li><a href="/demonstration/search/">Search</a></li>
                        <li id="compareitems" onclick="popupForm(cart[0], '{{token}}');"> Compare (0 Items)</li>
                        <!--<li><a id="compareitems" href="/p4tt/super_compare/">Compare Items (0)</a></li>-->
			</ul>
                </div> <!--closes the headerlinks div-->
    <hr />
        </div> <!--closes the header div-->



{% block refpant %}
{% endblock refpant%}

{% block bodycontent %}
{% endblock bodycontent%}
<div id="footer" class="twelve columns offset-by-two">
    <hr>
    <div id="footerlinks">
      <ul>
        <li><a href="/create/">Enter a Pant</a></li>
        <li><a href="/demonstration/about/">About</a></li>
	<li><a href="http://www.clothesliner.tumblr.com/">Tumblr</a></li>
        <li><a href="/">How it Works</a></li>
      </ul>
    </div> <!--closes the footerlinks div-->
    </hr>
  </div> <!--closes the footer div-->
</div> <!--closes the container div-->


{% endblock pages %}
