{% extends "base.html" %}
{% load static %}
{% block js %}
js/measurementinput.js
{% endblock js%}

{% block bodycontent%}

<div id="content" class="grid_14 push_1">
	<div id="measurementintro" class="alpha omega grid_">
	<h3>Measure Your Favorite Pant in 5 Minutes</h3>
	<br/>
	</div> <!--close #measurementintro-->

	<div id="inputform" class="alpha grid_5">	
	<form action="/create/submit/" method="post">
	  {% csrf_token %}
	<input type="text" name="designer" onFocus="displayMainInstructions()" name="brand" maxlength="30" size="10"  /> Brand Name<br />
	<input type="text" name="style" onFocus="displayMainInstructions()" maxlength="30" size="10" /> Style Name <br />
	<input type="text" onFocus="displayLabelWaist()" name="label_waist" maxlength="4" size="2" /> Label waist size <br />
	<input type="text" onFocus="displayLabelInseam()" name="label_inseam" maxlength="4" size="2" /> Label inseam size <br />
	<input type="text" onFocus="displayWaist()" name="waist" maxlength="4" size="2" /> Actual waist <br />
	<input type="text" onFocus="displayInseam()" name="inseam" maxlength="4" size="2" /> Actual Inseam <br />
	<input type="text" onFocus="displayOutseam()" name="outseam" maxlength="4" size="2" /> Outseam <br />
	<input type="text" onFocus="displayFront()" name="front_rise" maxlength="4" size="2" /> Front Rise <br />
	<input type="text" onFocus="displayBack()" name="back_rise" maxlength="4" size="2" /> Back Rise <br />
	<input type="text" onFocus="displayHips()" name="hips" maxlength="4" size="2" /> Hips <br />
	<input type="text" onFocus="displayThigh()" name="thigh" maxlength="4" size="2"  /> Thigh <br />
	<input type="text" onFocus="displayKnee()" name="knee" maxlength="4" size="2" /> Knee <br />
	<input type="text" onFocus="displayCuff()" name="cuff" maxlength="4" size="2" /> Leg Opening <br />
	<input type="submit" value="Enter & Compare" />
	</form>
	</div> <!--closes #inputform-->


	<div id="starter" class="omega grid_9"> 
	<p class="entry_description">1. Lay the pant flat on the floor (buttoned and zipped up).<br/><br/>
	  2. Measure to the edge of the garment as it lays rather than the edege of the seam.<br/><br/>
	  3. Round to the nearest 1/4 of an inch.<br/><br/>
	  4. Click each box below for further instructions.
	</p>
	<img src="http://clothesliner.com/static/images/drawnpant.png" class="drawnpant" alt="pant drawing"/>
	</div>
</div> <!--closes #content-->


{% endblock bodycontent %}
