{% extends "base.html" %}
{% load static %}
{% block js %}
js/measurementinput.js
{% endblock js%}

{% block bodycontent%}

<div id="content" class="grid_14 push_1">
	<div id="measurementintro" class="alpha omega grid_">
	<h2> Manual pant entry</h2>
	<p> You can enter your own pant measurements here. </p>
	<p> You'll notice that there's some gray area in measuring depending on whether you pull the fabric taunt before you measure, whether you pull the measuring tape very tight or use a yardstick, whether you follow the curve between measurement points or approximate with a straight line, and where you choose to define the edge of the garment. We recognize there's a margin for error in all this, and our algorithm returns similar items if they're within a relevant tolerance. 
	</p>
	<p>Lay the pair of pants flat on the ground or a table and zip or button up the fly. All measurements are to the edge of the garment rather than the seam, unless specifically stated. Round to the nearest 1/8 of an inch, even though it'll sometimes be a tough call. You're going to do great. 
	</p>
	<img src="/drawnpantimage/" class="drawnpant" alt="pant drawing"/>

	</div> <!--close #measurementintro-->

	<div id="inputform" class="alpha grid_5">	
	<form action="/create/submit/" method="post">
	  {% csrf_token %}
	<input type="text" name="designer" maxlength="30" size="10"  /> Brand Name<br />
	<input type="text" name="style" maxlength="30" size="10" /> Style Name <br />
	<input type="text" onFocus="displayLabelWaist()" name="label_waist" maxlength="4" size="2" /> Label waist size <br />
	<input type="text" onFocus="displayLabelInseam()" name="label_inseam" maxlength="4" size="2" /> Label inseam size <br />
	<input type="text" onFocus="displayWaist()" name="waist" maxlength="4" size="2" /> Actual waist <br />
	<input type="text" onFocus="displayInseam()" name="inseam" maxlength="4" size="2" /> Actual Inseam <br />
	<input type="text" onFocus="displayOutseam()" name="outseam" maxlength="4" size="2" /> Outseam <br />
	<input type="text" onFocus="displayFront()" name="front_rise" maxlength="4" size="2" /> Front Rise <br />
	<input type="text" onFocus="displayBack()" name="back_rise" maxlength="4" size="2" /> Back Rise <br />
	<input type="text" onFocus="displayHips()" name="hips" maxlength="4" size="2" /> Hips <br />
	<input type="text" onFocus="displayThigh()" name="thigh" maxlength="4" size="2"  /> Thigh <br />
	<input type="text" onFocus="displayKnee()" name="knee" maxlength="4" size="2" /> Knee <br />
	<input type="text" onFocus="displayCuff()" name="cuff" maxlength="4" size="2" /> Leg Opening <br />
	<input type="submit" value="Enter & Compare" />
	</form>
	</div> <!--closes #inputform-->


	<div id="starter" class="omega grid_9"> 
	<p>First enter the Brand and Style for the pant you're about to enter. Then click on the box to the right of each measurement for instructions about how to take it. </p>
	<img src="{% get_static_prefix %}images/drawnpant.png" class="drawnpant" alt="pant drawing"/>
	</div>
	
</div> <!--closes #content-->


{% endblock bodycontent %}
