{% load static %}
{% load filters %}
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_skeleton.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_base.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_layout.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/super2.css" >
        <style type="text/css">
         /*body {background-image:url("{% get_static_prefix %}images/bgnoise_lg.png")} */
        </style>

<script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
 <script type="text/javascript">
  function feedbackPopup() {
  window.open("/feedback/", "feedbackWindow", "status=1, height = 600, width = 600, resizable = 0")
  }
  </script>
<title>Clothesliner Home Page</title>		
<script type="text/javascript">

var p = jQuery.parseJSON('{{measurements|escapejs|safe}}');
p.sort();

function sortOptions(sel)
{
	var my_options = $("#"+sel+" option");
	my_options.sort(function(a,b) {
	    if (a.text > b.text) return 1;
	    else if (a.text < b.text) return -1;
	    else return 0
	})
	$("#"+sel).empty().append( my_options );
}

function genDesigners()
{
	var z = document.getElementById("designers");
	for (var key in p)
	{
		var newOption = document.createElement("OPTION");
		newOption.text = key;
		newOption.value = key;
		z.add(newOption, null);
	}
	
	sortOptions("designers");
	genStyles(z);
}

function genStyles(sel)
{
	var z = document.getElementById("styles");
	while(z.length > 0)
	{
	   z.remove(0);
	}
	for (var key in p[sel[sel.selectedIndex].value])
	{
		var newOption = document.createElement("OPTION");
		newOption.text = key;
		newOption.value = key;
		z.add(newOption, null);
	}
	sortOptions("styles");
	genMeasurements(sel, z);
}

function genMeasurements(des, sel)
{
	var z = document.getElementById("measurements");
	while(z.length > 0)
	{
		z.remove(0);
	}
	for (var key in p[des[des.selectedIndex].value][sel[sel.selectedIndex].value])
	{
		var a = p[des[des.selectedIndex].value][sel[sel.selectedIndex].value][key];
		var newOption = document.createElement("OPTION");
		if (a[1] == "0") {a[1] = "Unhemmed"}
		newOption.text = a[0]+' x '+a[1];
		newOption.value = a[0]+' '+a[1]+' '+a[2]+' '+a[3];
		z.add(newOption, null);
	}
}
</script>

<!-- start Mixpanel <script type="text/javascript">var mpq=[];mpq.push(["init","22c229665c519c7fb9b7a703e0df621e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script> end Mixpanel -->
</head>

<body onload="genDesigners()">
<div id="sidebar">
    <input type="image" src="{% get_static_prefix %}images/Feedback.jpg" alt="" onClick="feedbackPopup()" value="Feedback">
</div>

<div id="container" class="container" style="margin-top:20px">
  	<div id="header" class= "alpha omega sixteen columns">
    	<div id="title" class="alpha eight columns">
    		<img src="{% get_static_prefix %}images/logo.svg" class="logo scale-with-grid" style="max-width:300px" alt="logo"/>
			<!--<h1><a href="http://clothesliner.com">Clothesliner</a></h1>
			<h3>find pants that fit (beta)</h3>-->
			
        </div> <!--closes the title div-->
      
		<div id="headerlinks" class="omega eight columns">
		  <ul>
			<li><a href="/demonstration/search/">Search</a></li>
			<li id="compareitems" onclick="popupForm(cart[0], '{{token}}');"> Compare (0 Items)</li>
			<!--<li><a id="compareitems" href="/p4tt/super_compare/">Compare Items (0)</a></li>-->
			</ul>
		</div> <!--closes the headerlinks div-->
    <hr />
	</div> <!--closes the header div-->
	


<div id="mainsearch" class="twelve columns offset-by-two">
</br>
       <div id="tagline" class="eight columns offset-by-two">
<!--       <h3>Choose a pant you know...</h3>	 -->
       <img src="{% get_static_prefix%}images/tagline_pk.svg" width=80%/>
       </div>
	<div id="mainpant" class="five columns" style="padding-right:30px">
            

	  <img src="{% get_static_prefix %}images/Arrow_PK.svg" class="drawnpant scale-with-grid" style="max-width:300px" alt="pant drawing"/>
	</div><!--clses mainpant div-->


	<div id="searchform" class="five columns">
		<form action="/demonstration/reference/" method="post" name="selectReferencePant" class="searchform">
			{% csrf_token %}
			<div id="selectors">
				<select id="designers" class="initialdropdown" name="designers" onchange="genStyles(this)"></select>
				</br>
				<select id="styles" class="initialdropdown" name="styles" onchange="genMeasurements(designers, this)"></select>
				</br>
				<select id="measurements" class="initialdropdown" name="measurements"></select>
				</br>
				<input type="submit" class="test" value="Compare">
			</div>
		</form>
			</div><!--closes #searchform-->
	<br/>
       <div id="tagline2" class="eight columns offset-by-two">
       <img src="{% get_static_prefix%}images/tagline2_pk.svg" width=105%/>
<!--                <h3>...and we'll return pants that fit similarly.</h3>-->
		<p> Don't see your pant? While we're growing our database you can upload measurements yourself <a href="/create/">here</a>. </p>
	</div><!--closes #tagline2-->
</div> <!--close #mainsearch -->


<div id="footer" class="alpha omega sixteen columns">
    <hr>
    <div id="footerlinks">
      <ul>
        <li><a href="/create/">Enter a Pant</a></li>
        <li><a href="/demonstration/about/">About</a></li>
        <li><a href="http://www.clothesliner.tumblr.com/">Tumblr</a></li>
        <li><a href="/demonstration/logout">Logout</a></li>
      </ul>
    </div> <!--closes the footerlinks div-->
  </div> <!--closes the footer div-->
</div> <!--closes the container div-->


</body>
</html>
