{% load static %}
{% load filters %}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

        <!-- Basic Page Needs                                                                                                                                                                                                   ================================================== -->
        <meta charset="utf-8">
        <title>Clothesliner | Find Pants That Fit</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <!--[if lt IE 9]>                                                                                       \
                                                                                                                 
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>                      
                                                                                                                        <![endif]-->

        <!-- Mobile Specific Metas                                                                               ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
  ================================================== -->
        <link rel="stylesheet" href="{% get_static_prefix %}css/sk_base.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/sk_skeleton.css">
        <link rel="stylesheet" href="{% get_static_prefix %}css/sk_layout.css">
	<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/super2.css" >

	<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Raleway:100' rel='stylesheet' type='text/css'>
        <style type="text/css">
         /*body {background-image:url("{% get_static_prefix %}images/exclusive_paper.png")} */
        </style>
<!--  <link rel="stylesheet" href="{% get_static_prefix %}fancybox/fancybox-1.3.4.css" type="text/css" media="screen"> -->


       <!-- Javascript 
==================================================== -->
  <script type="text/javascript">
  function feedbackPopup() {
  window.open("/feedback/", "feedbackWindow", "status=1, height = 600, width = 600, resizable = 0")
  }
  </script>
  <script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>

  <script type="text/javascript" src="{% get_static_prefix %}js/pk.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}js/popup.js"></script>
  <script type="text/javascript" src="{% get_static_prefix %}{% block js %}{% endblock js %}"> </script>
  <script type="text/javascript" src="{% get_static_prefix %}{% block js2 %}{% endblock js2 %}"> </script>
<!--  <script type="text/javascript" src="{% get_static_prefix %}fancybox/jquery.fancybox-1.3.4.js"></script> -->
	<!-- start Mixpanel <script type="text/javascript">var mpq=[];mpq.push(["init","22c229665c519c7fb9b7a703e0df621e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
	</script> end Mixpanel -->
	
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29076305-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>	
</head>
<body>



{% block pages %}
{% endblock pages %}


	</div><!-- container -->

	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="javascripts/tabs.js"></script>

<!-- End Document
================================================== -->
</body>
</html>