{% load static %}

<html>
<head>
<meta name="google-site-verification" content="iwuvz_XdsI1XayXPXbkp7uYNHDVGngkNi-euSdH0D-c" />
<title> Clothesliner</title>
  <link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/landingPage.css" >

<script type="text/javascript" src="http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRimvA4M"></script>
</head>
<body>
<div id="companyname">
<h1>Clothesliner</h1>
<h2>find pants that fit</h2>
</div>

<div id="explainer" class="floatBox">
       </br></br> <p1>Shopping online is hard, but going to the mall is worse. We're building a website that lets you search for clothes that you like
, based on clothes that you already know fit you.
        <br><br>Like the fit of the Levi's 505, but want to find it in khaki? You're a 34x32 in Dockers, 33x31 in Levi's and want to know wh
at you are at Banana Republic? What the hell does "relaxed fit" mean anyway? <br><br>You've come to the right place. Stay tuned to get more info about our upcoming launch.
        </p1>
</div>


</div>
</body>

