<table>
	<tr align="center">
		<td></td>
		<td><a href="{{reference.url_link}}"><img src="{{reference.picURL}}" width="120" height="140"></a></td>
		<td><a href="{{compared.url_link}}"><img src="{{compared.picURL}}" width="120" height="140"></a></td>
    </tr>
	<tr align="center">
		<td>Designer:</td>
		<td>{{reference.designer}}</td>
		<td>{{compared.designer}}</td>
	</tr>	
	<tr align="center">
		<td>Model:</td>
		<td>{{reference.style}}</td>
		<td>{{compared.style}}</td>
	</tr>
	<tr align="center">
		<td>Waist:</td>
		<td>{{reference.waist}}</td>
		<td>{{compared.waist}}</td>
	</tr>
	<tr align="center">
		<td>Inseam:</td>
		<td>{{reference.inseam}}</td>
		<td>{{compared.inseam}}</td>
	</tr>
	<tr align="center">
		<td>Cuff:</td>
		<td>{{reference.cuff}}</td>
		<td>{{compared.cuff}}</td>
	</tr>
	<tr align="center">
		<td>Thigh:</td>
		<td>{{reference.thigh}}</td>
		<td>{{compared.thigh}}</td>
	</tr>
	<tr align="center">
		<td>Front rise:</td>
		<td>{{reference.front_rise}}</td>
		<td>{{compared.front_rise}}</td>
	</tr>
	<tr align="center">
		<td>Back rise:</td>
		<td>{{reference.back_rise}}</td>
		<td>{{compared.back_rise}}</td>
	</tr>
	<tr align="center">
		<td>Hips:</td>
		<td>{{reference.hips}}</td>
		<td>{{compared.hips}}</td>
	</tr>
	<tr align="center">
		<td>Knee:</td>
		<td>{{reference.knee}}</td>
		<td>{{compared.knee}}</td>
	</tr>
	<tr align="center">
		<td>Outseam:</td>
		<td>{{reference.outseam}}</td>
		<td>{{compared.outseam}}</td>
	</tr>
</table>