{% load static %}
{% load filters %}
<head>
{% load static %}
<!--<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Raleway:100' rel='stylesheet' type='text/css'>
!-->
<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Raleway:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_skeleton.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_base.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/sk_layout.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/super2.css" >
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/tabs.css" >



<script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/tabs.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/description.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/fit.js"></script>
<script type="text/javascript">

var sauce = jQuery.parseJSON('{{ sauce|safe }}');
var specialSauce = jQuery.parseJSON('{{ specialSauce|safe }}');
var lessSpecialSauce = jQuery.parseJSON('{{ lessSpecialSauce|safe }}');
var moreSpecialSauce = jQuery.parseJSON('{{ moreSpecialSauce|safe }}');
var otherSpecialSauce = jQuery.parseJSON('{{ otherSpecialSauce|safe }}');
var cart = new Array();

var p = new Object();
	p[{{reference.id}}] = new Object();
	p[{{reference.id}}]["image"] = ("{{reference.picURL}}" == "None") ? "N/A":"{{reference.picURL|safe}}";
	p[{{reference.id}}]["imageLink"] = ("{{reference.picURL}}" == "None") ? "N/A":"{{reference.url_link|safe}}";
	p[{{reference.id}}]["designer"] = ("{{reference.designer}}" == "None") ? "N/A":"{{reference.designer|safe}}";
	p[{{reference.id}}]["style"] = ("{{reference.style}}" == "None") ? "N/A":"{{reference.style|safe}}";
        p[{{reference.id}}]["designer_waist"] = ("{{reference.designer_waist}}" == "None") ? "N/A":"{{reference.designer_waist}}";
	p[{{reference.id}}]["waist"] = ("{{reference.waist}}" == "None") ? "N/A":{{reference.waist}};
	p[{{reference.id}}]["inseam"] = ("{{reference.inseam}}" == "None") ? "N/A":{{reference.inseam}};
	p[{{reference.id}}]["cuff"] = ("{{reference.cuff}}" == "None") ? "N/A":{{reference.cuff}};
	p[{{reference.id}}]["thigh"] = ("{{reference.thigh}}" == "None") ? "N/A":{{reference.thigh}};
	p[{{reference.id}}]["front_rise"] = ("{{reference.front_rise}}" == "None") ? "N/A":{{reference.front_rise}};
	p[{{reference.id}}]["back_rise"] = ("{{reference.back_rise}}" == "None") ? "N/A":{{reference.back_rise}};
	p[{{reference.id}}]["hips"] = ("{{reference.hips}}" == "None") ? "N/A":{{reference.hips}};
	p[{{reference.id}}]["knee"] = ("{{reference.knee}}" == "None") ? "N/A":{{reference.knee}};
	p[{{reference.id}}]["outseam"] = ("{{reference.outseam}}" == "None") ? "N/A":{{reference.outseam}};

{% for pant in fitRoom %}
	cart.push({{pant.id}});
	p[{{pant.id}}] = new Object();
	p[{{pant.id}}]["image"] = ("{{pant.picURL}}" == "None") ? "N/A":"{{pant.picURL|safe}}";
	p[{{pant.id}}]["imageLink"] = ("{{pant.picURL}}" == "None") ? "N/A":"{{pant.url_link|safe}}";
	p[{{pant.id}}]["designer"] = ("{{pant.designer}}" == "None") ? "N/A":"{{pant.designer|safe}}";
	p[{{pant.id}}]["style"] = ("{{pant.style}}" == "None") ? "N/A":"{{pant.style|safe}}";
        p[{{pant.id}}]["designer_waist"] = ("{{pant.designer_waist}}" == "None") ? "N/A":"{{pant.designer_waist}}";
	p[{{pant.id}}]["waist"] = ("{{pant.waist}}" == "None") ? "N/A":{{pant.waist}};
	p[{{pant.id}}]["inseam"] = ("{{pant.inseam}}" == "None") ? "N/A":{{pant.inseam}};
	p[{{pant.id}}]["cuff"] = ("{{pant.cuff}}" == "None") ? "N/A":{{pant.cuff}};
	p[{{pant.id}}]["thigh"] = ("{{pant.thigh}}" == "None") ? "N/A":{{pant.thigh}};
	p[{{pant.id}}]["front_rise"] = ("{{pant.front_rise}}" == "None") ? "N/A":{{pant.front_rise}};
	p[{{pant.id}}]["back_rise"] = ("{{pant.back_rise}}" == "None") ? "N/A":{{pant.back_rise}};
	p[{{pant.id}}]["hips"] = ("{{pant.hips}}" == "None") ? "N/A":{{pant.hips}};
	p[{{pant.id}}]["knee"] = ("{{pant.knee}}" == "None") ? "N/A":{{pant.knee}};
	p[{{pant.id}}]["outseam"] = ("{{pant.outseam}}" == "None") ? "N/A":{{pant.outseam}};
 	p[{{pant.id}}]["retailer1_price"] = ("{{pant.retailer1_price}}" == "None") ? "N/A":{{pant.retailer1_price}};
 	p[{{pant.id}}]["retailer1_name"] = ("{{pant.retailer1_name}}" == "None") ? "N/A":"{{pant.retailer1_name|safe}}";
 	p[{{pant.id}}]["retailer1_location"] = ("{{pant.retailer1_location}}" == "None") ? "N/A":"{{pant.retailer1_location|safe}}";
 	p[{{pant.id}}]["retailer1_shipping"] = ("{{pant.retailer1_shipping}}" == "None") ? "N/A":"{{pant.retailer1_shipping|safe}}";
 	p[{{pant.id}}]["retailer1_returns"] = ("{{pant.retailer1_returns}}" == "None") ? "N/A":"{{pant.retailer1_returns|safe}}";
	p[{{pant.id}}]["retailer2_price"] = ("{{pant.retailer2_price}}" == "None") ? "":"$"+{{pant.retailer2_price}};
 	p[{{pant.id}}]["retailer2_name"] = ("{{pant.retailer2_name}}" == "None") ? "":"at {{pant.retailer2_name|safe}}";
 	p[{{pant.id}}]["retailer2_location"] = ("{{pant.retailer2_location}}" == "None") ? "":"in {{pant.retailer2_location|safe}}";
 	p[{{pant.id}}]["retailer2_shipping"] = ("{{pant.retailer2_shipping}}" == "None") ? "":"{{pant.retailer2_shipping|safe}}";
 	p[{{pant.id}}]["retailer2_returns"] = ("{{pant.retailer2_returns}}" == "None") ? "":" | {{pant.retailer2_returns|safe}}";
 	p[{{pant.id}}]["retailer2_url"] = ("{{pant.retailer2_url}}" == "None") ? "":"{{pant.retailer2_url|safe}}";

{% endfor %}

function makeCompare(sel)
{
	$('div#comp_pant_image #compr_image').attr('src',p[sel.name]['image']);
	$('div#comp_pant_image #comp_image').attr('href',p[sel.name]['imageLink']);
	$('div#datatable td#designer_comp').text(p[sel.name]['designer']);
	$('div#datatable td#style_comp').text(p[sel.name]['style']);
        $('div#datatable td#size_comp').text(p[sel.name]['designer_waist']);
	$('div#datatable td#waist_comp').text(p[sel.name]['waist']);
	$('div#datatable td#inseam_comp').text(p[sel.name]['inseam']);
	$('div#datatable td#cuff_comp').text(p[sel.name]['cuff']);
	$('div#datatable td#thigh_comp').text(p[sel.name]['thigh']);
	$('div#datatable td#front_rise_comp').text(p[sel.name]['front_rise']);
	$('div#datatable td#back_rise_comp').text(p[sel.name]['back_rise']);
	$('div#datatable td#hips_comp').text(p[sel.name]['hips']);
	$('div#datatable td#knee_comp').text(p[sel.name]['knee']);
	$('div#datatable td#outseam_comp').text(p[sel.name]['outseam']);
	$('div#datatable').attr('title_comp', sel.name);
    $('div#retailerdesc p#retailer1_name').text(p[sel.name]['retailer1_name']);
    $('div#retailerdesc p#retailer1_price').text("$"+p[sel.name]['retailer1_price']);
    $('div#retailerdesc p#retailer1_location').text(p[sel.name]['retailer1_location']);
    $('div#retailerdesc p#retailer1_shipping').text(p[sel.name]['retailer1_shipping']);
 	$('div#retailerdesc p#retailer1_returns').text(p[sel.name]['retailer1_returns']);
	$('div#retailerdesc2 p#retailer2_name').text(p[sel.name]['retailer2_name']);
	$('div#retailerdesc2 p#retailer2_price').text(p[sel.name]['retailer2_price']);
    $('div#retailerdesc2 p#retailer2_location').text(p[sel.name]['retailer2_location']);
    $('div#retailerdesc2 p#retailer2_shipping').text(p[sel.name]['retailer2_shipping']);
    $('div#retailerdesc2 p#retailer2_returns').text(p[sel.name]['retailer2_returns']);
    $('div#retailerinfo h3#pant_style').text(p[sel.name]['style']);
    $('div#retailerinfo h6#pant_designer').text(p[sel.name]['designer']);
    $('div#retailerinfo h6#size_comp').text(p[sel.name]['designer_waist']);


	$('.small_tile').css("outline", "none"); 
	$('.small_tile#'+sel.name).css("outline","1px solid #A8A8A8");
	var describe = calcDiff(p[$('div#datatable').attr('title_ref')], p[$('div#datatable').attr('title_comp')]);
        $('#fit_desc').html(describe);
	$('div#explain').html("");
}

function makeReference(sel)
{
	$('div#ref_pant_image #refr_image').attr('src',p[sel.name]['image']);
	$('div#reference_pant #ref_image').attr('href',p[sel.name]['imageLink']);
	$('div#datatable td#designer_ref').text(p[sel.name]['designer']);
	$('div#datatable td#style_ref').text(p[sel.name]['style']);
        $('div#datatable td#size_ref').text(p[sel.name]['designer_waist']);
	$('div#datatable td#waist_ref').text(p[sel.name]['waist']);
	$('div#datatable td#inseam_ref').text(p[sel.name]['inseam']);
	$('div#datatable td#cuff_ref').text(p[sel.name]['cuff']);
	$('div#datatable td#thigh_ref').text(p[sel.name]['thigh']);
	$('div#datatable td#front_rise_ref').text(p[sel.name]['front_rise']);
	$('div#datatable td#back_rise_ref').text(p[sel.name]['back_rise']);
	$('div#datatable td#hips_ref').text(p[sel.name]['hips']);
	$('div#datatable td#knee_ref').text(p[sel.name]['knee']);
	$('div#datatable td#outseam_ref').text(p[sel.name]['outseam']);
	$('div#datatable').attr('title_ref', sel.name);
	
	$('.small_tile').css("border", "none");
	$('.small_tile#'+sel.name).css("border","1px solid #505050 ");
	$('div#explain').html("");
}

function unfitItem(item)
{
	cart.splice(cart.indexOf(item), 1)
	$('.thumbnail#thumb'+item).hide();
	window.opener.popupCallback(cart);
	if (item == $('div#reference_pant').attr('title_ref')) {makeReference(document.getElementById("{{reference.id}}"));}
	compID = $('div#comp_pant_1').attr('title_comp');
	if (item == compID)
	{
		compedID = "{{compared.id}}";
		if (jQuery.inArray(compedID, cart) != -1) {compID = compedID;}
		else {compID == item;}
		if (item == compID)
		{
			compID = cart[0];
			if (typeof compID === 'undefined')
			{
				window.close();
			}
		}
		makeCompare(document.getElementById(compID));
	}
}
</script>

<!-- start Mixpanel <script type="text/javascript">var mpq=[];mpq.push(["init","22c229665c519c7fb9b7a703e0df621e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script> end Mixpanel -->
</head>
<body onload=makeReference(document.getElementById("{{reference.id}}"));makeCompare(document.getElementById("{{compared.id}}"))>
<div id="sidebar">
  <input type="image" src="{% get_static_prefix %}images/Feedback.jpg" width="" onClick="feedbackPopup()">
</div>

<div class="container">
  	<div id="header" class= "alpha omega sixteen columns">
    	<div id="title" class="alpha eight columns">
			<h1><a href="http://clothesliner.com">Clothesliner</a></h1>
			<h3>find pants that fit (beta)</h3>
        </div> <!--closes the title div-->
      
		<div id="headerlinks" class="omega eight columns">
		  <ul>
			<li><a href="/demonstration/search/">Search</a></li>
			<li id="compareitems" onclick="popupForm(cart[0], '{{token}}');"> Compare (0 Items)</li>
			<!--<li><a id="compareitems" href="/p4tt/super_compare/">Compare Items (0)</a></li>-->
			</ul>
		</div> <!--closes the headerlinks div-->
    <hr />
	</div> <!--closes the header div-->

	
	<div id="compare" class="sixteen columns"> <!--functions as a body content div-->
	
	<div id="leftside" class="ten columns">
		<div id="ref_pant_image" class="three columns">
			<a id="ref_image" href=""><img id="refr_image" class="border" src=""/ alt="ref"></a>
		</div><!--closes #ref_pant_image-->
		
		<div id="comp_pant_image" class="five columns scale-with-grid">
			<a id="comp_image" href=""><img id="compr_image" class="outline" src=""/></a>
		</div><!--closes #comp_pant_image-->
	
		<div id="descrip" class="ten columns" layout>
			<div id="tabs_header">
			<ul class="tabs">
				  <!-- Give href an ID value of corresponding "tabs-content" <li>'s -->
				  <li><a class="active" href="#tab_desc">How they'll Fit</a></li>
				  <li><a  href="#tab_table">See Data</a></li>
			</ul>		
			</div> <!--closes #tabs_header-->
			
			<div id="tabs_content">
				<ul class="tabs-content">
  				<!-- Give ID that matches HREF of above anchors -->
  				<li class="active" id="tab_desc"><div id="fit_desc"></div></li>
 				<li id="tab_table"><div id="datatable">
										<table>
						<tr>
						  <td id="designer_label"></td>
						  <td id="designer_ref">N/A</td>
						  <td id="designer_comp">N/A</td>
						</tr>
						<tr>
						  <td id="style_label"class="firstcolumn">Style</td>
						  <td id="style_ref">N/A</td>
						  <td id="style_comp">N/A</td>
						</tr>
						<tr>
						  <td id="size_label">Size</td>
						  <td id="size_ref">N/A </td>
						  <td id="size_comp">N/A</td>
						</tr>
						<tr>
						  <td id="waist_label">Actual waist</td>
						  <td id="waist_ref">N/A </td>
						  <td id="waist_comp">N/A</td>
						</tr>
						<tr>
						  <td id="front_rise_label">Front rise</td>
						  <td id="front_rise_ref">N/A </td>
						  <td id="front_rise_comp">N/A</td>
						</tr>
						<tr>
						  <td id="back_rise_label">Rear rise</td>
						  <td id="back_rise_ref">N/A </td>
						  <td id="back_rise_comp">N/A</td>
						</tr>
						<tr>
						  <td id="hip_label">Hip</td>
						  <td id="hip_ref">N/A </td>
						  <td id="hip_comp">N/A</td>
						</tr>
						<tr>
						  <td id="thigh_label"> Thigh</td>
						  <td id="thigh_ref">N/A </td>
						  <td id="thigh_comp">N/A</td>
						</tr>
						<tr>
						  <td id="knee_label">Knee</td>
						  <td id="knee_ref">N/A </td>
						  <td id="knee_comp">N/A</td>
						</tr>
						<tr>
						  <td id="cuff_label">Cuff</td>
						  <td id="cuff_ref">N/A </td>
						  <td id="cuff_comp">N/A</td>
						</tr>
						<tr>
						  <td id="outseam_label">Outseam</td>
						  <td id="outseam_ref">N/A </td>
						  <td id="outseam_comp">N/A</td>
						</tr>
						<tr>
						  <td id="inseam_label">Actual inseam</td>
						  <td id="inseam_ref">N/A </td>
						  <td id="inseam_comp">N/A</td>
						</tr>				
					</table> 
					</div><!--closes #datatable-->	</li>
</ul>
			</div><!--closes #tabs_content-->
		</div><!--closes #descrip-->	
	</div> <!--closes #leftside-->
	
	<div id="rightside" class="one-third column">
		<div id="retailerinfo">
		<h3 id="pant_style">Style Name</h3>
		<h6>by</h6><h6 id="pant_designer">Pant Name</h6>
                <br/>
		<h6>Size</h6><h6 id="size_comp">N/A</h6>
		<br/>
		<h3> Where to buy </h3>
			<div id="retailerdesc" class="retailer_label">
				<p class="retail_price retail_about" id="retailer1_price">Retailer1 Price</p>
				<p> at </p>
				<p class="retailer_1 retail_about" id="retailer1_name"> Four Horsemen </p>
				<p> -- </p>
				<p class="location retail_about" id="retailer1_location"> Vancouver, Canada </p>
				</br>
				<p class="shipping retail_returns" id="retailer1_shipping"> Free shipping </p>
				<p> | </p>
				<p class="returns retail_returns" id="retailer1_returns"> Returns for store credit, you pay shipping </p>	
			</div><!--closes #retailerdesc-->	
			
			<div id="retailerdesc2" class="retailer_label">
				<p class="retail_price retail_about" id="retailer2_price">retailer2 Price</p>
			
				<p class="retailer_1 retail_about" id="retailer2_name">Four Horsemen</p>
				<p class="location retail_about" id="retailer2_location"> Vancouver, Canada </p>
				</br>
				<p class="shipping retail_returns" id="retailer2_shipping"> Free shipping </p>
				<p class="returns retail_returns" id="retailer2_returns"> Returns for store credit, you pay shipping </p>	
			</div><!--closes #retailerdesc-->
			
		</div> <!--closes #retailerinfo -->
	

	</div><!--closes #rightside-->
	
	
	<div id="explain" class="grid_4">
	</div> <!--closes #explain-->
	

</div><!--closes #compare-->



<div class="thumbnails" class="sixteen columns">
	<div class="thumbnail" id="thumb{{reference.id}}">
	<input  type="image"
			onclick="makeCompare(this)" 
			ondblclick="makeReference(this)" 
			class="small_tile" 
			id="{{reference.id}}" 
			name="{{reference.id}}" 
			src="{{reference.picURL}}" 
			width="90" 
			height="100">
	</div><!--closes thumbnail-->
	
{% for pant in fitRoom %}
<div class="thumbnail" id="thumb{{pant.id}}">
	<input type="image" 
		   onclick="makeCompare(this)" 
		   ondblclick="makeReference(this)" 
		   class="small_tile" 
		   id="{{pant.id}}" 
		   name="{{pant.id}}" 
		   src="{{pant.picURL}}" 
		   width="90" 
		   height="100">

</div><!--closes thumbnail-->
						
{% endfor %}
</div><!--closes thumbnails-->
<div id="footer" class="alpha omega sixteen columns">
    <hr>
    <div id="footerlinks">
      <ul>
        <li><a href="/create/">Enter a Pant</a></li>
        <li><a href="/demonstration/about/">About</a></li>
        <li><a href="http://www.clothesliner.tumblr.com/">Tumblr</a></li>
        <li><a href="/demonstration/logout">Logout</a></li>
      </ul>
    </div> <!--closes the footerlinks div-->
  </div> <!--closes the footer div-->
</div><!--closes the hacky #container that I created in this page, even though there's also a #container-->
</body>


