<head>
{% load static %}
<link rel="stylesheet" type="text/css" media="all" href="{% get_static_prefix %}css/super.css" >
<script type="text/javascript" src="{% get_static_prefix %}js/jquery.js"></script>
<script type="text/javascript" src="{% get_static_prefix %}js/fit.js"></script>
<script type="text/javascript">

var p = new Object();
	p[{{reference.id}}] = new Object();
	p[{{reference.id}}]["image"] = ("{{reference.picURL}}" == "None") ? "N/A":'{{reference.picURL}}';
	p[{{reference.id}}]["designer"] = ("{{reference.designer}}" == "None") ? "N/A":'{{reference.designer}}';
	p[{{reference.id}}]["style"] = ("{{reference.style}}" == "None") ? "N/A":'{{reference.style}}';
	p[{{reference.id}}]["waist"] = ("{{reference.waist}}" == "None") ? "N/A":{{reference.waist}};
	p[{{reference.id}}]["inseam"] = ("{{reference.inseam}}" == "None") ? "N/A":{{reference.inseam}};
	p[{{reference.id}}]["cuff"] = ("{{reference.cuff}}" == "None") ? "N/A":{{reference.cuff}};
	p[{{reference.id}}]["thigh"] = ("{{reference.thigh}}" == "None") ? "N/A":{{reference.thigh}};
	p[{{reference.id}}]["front_rise"] = ("{{reference.front_rise}}" == "None") ? "N/A":{{reference.front_rise}};
	p[{{reference.id}}]["back_rise"] = ("{{reference.back_rise}}" == "None") ? "N/A":{{reference.back_rise}};
	p[{{reference.id}}]["hips"] = ("{{reference.hips}}" == "None") ? "N/A":{{reference.hips}};
	p[{{reference.id}}]["knee"] = ("{{reference.knee}}" == "None") ? "N/A":{{reference.knee}};
	p[{{reference.id}}]["outseam"] = ("{{reference.outseam}}" == "None") ? "N/A":{{reference.outseam}};

{% for pant in fitRoom %}
	p[{{pant.id}}] = new Object();
	p[{{pant.id}}]["image"] = ("{{pant.picURL}}" == "None") ? "N/A":'{{pant.picURL}}';
	p[{{pant.id}}]["designer"] = ("{{pant.designer}}" == "None") ? "N/A":'{{pant.designer}}';
	p[{{pant.id}}]["style"] = ("{{pant.style}}" == "None") ? "N/A":'{{pant.style}}';
	p[{{pant.id}}]["waist"] = ("{{pant.waist}}" == "None") ? "N/A":{{pant.waist}};
	p[{{pant.id}}]["inseam"] = ("{{pant.inseam}}" == "None") ? "N/A":{{pant.inseam}};
	p[{{pant.id}}]["cuff"] = ("{{pant.cuff}}" == "None") ? "N/A":{{pant.cuff}};
	p[{{pant.id}}]["thigh"] = ("{{pant.thigh}}" == "None") ? "N/A":{{pant.thigh}};
	p[{{pant.id}}]["front_rise"] = ("{{pant.front_rise}}" == "None") ? "N/A":{{pant.front_rise}};
	p[{{pant.id}}]["back_rise"] = ("{{pant.back_rise}}" == "None") ? "N/A":{{pant.back_rise}};
	p[{{pant.id}}]["hips"] = ("{{pant.hips}}" == "None") ? "N/A":{{pant.hips}};
	p[{{pant.id}}]["knee"] = ("{{pant.knee}}" == "None") ? "N/A":{{pant.knee}};
	p[{{pant.id}}]["outseam"] = ("{{pant.outseam}}" == "None") ? "N/A":{{pant.outseam}};
{% endfor %}

function makeCompare(sel)
{
	$('div#comp_pant_1 #image').attr('src',p[sel.name]['image']);
	$('div#comp_pant_1 li#designer').text(p[sel.name]['designer']);
	$('div#comp_pant_1 li#model').text(p[sel.name]['style']);
	$('div#comp_pant_1 li#waist').text(p[sel.name]['waist']);
	$('div#comp_pant_1 li#inseam').text(p[sel.name]['inseam']);
	$('div#comp_pant_1 li#cuff').text(p[sel.name]['cuff']);
	$('div#comp_pant_1 li#thigh').text(p[sel.name]['thigh']);
	$('div#comp_pant_1 li#front_rise').text(p[sel.name]['front_rise']);
	$('div#comp_pant_1 li#back_rise').text(p[sel.name]['back_rise']);
	$('div#comp_pant_1 li#hips').text(p[sel.name]['hips']);
	$('div#comp_pant_1 li#knee').text(p[sel.name]['knee']);
	$('div#comp_pant_1 li#outseam').text(p[sel.name]['outseam']);
	$('div#comp_pant_1').attr('title', sel.name);

	$('.small_tile').css("outline", "none");
	$('.small_tile#'+sel.name).css("outline","3px solid blue");

	var describe = calcDiff(p[$('div#reference_pant').attr('title')], p[$('div#comp_pant_1').attr('title')]);
	$('#desc').text(describe);
}

function makeReference(sel)
{
	$('div#reference_pant #image').attr('src',p[sel.name]['image']);
	$('div#reference_pant li#designer').text(p[sel.name]['designer']);
	$('div#reference_pant li#model').text(p[sel.name]['style']);
	$('div#reference_pant li#waist').text(p[sel.name]['waist']);
	$('div#reference_pant li#inseam').text(p[sel.name]['inseam']);
	$('div#reference_pant li#cuff').text(p[sel.name]['cuff']);
	$('div#reference_pant li#thigh').text(p[sel.name]['thigh']);
	$('div#reference_pant li#front_rise').text(p[sel.name]['front_rise']);
	$('div#reference_pant li#back_rise').text(p[sel.name]['back_rise']);
	$('div#reference_pant li#hips').text(p[sel.name]['hips']);
	$('div#reference_pant li#knee').text(p[sel.name]['knee']);
	$('div#reference_pant li#outseam').text(p[sel.name]['outseam']);
	$('div#reference_pant').attr('title', sel.name);
	
	$('.small_tile').css("border", "none");
	$('.small_tile#'+sel.name).css("border","3px solid red");
}

function makeForm(child)
{
	var newForm = document.createElement("FORM");
	var newID = "{{compared.id}}";
	if (child.value == newID)
	{
		newID = $('div#comp_pant_1').attr('title');
		if (child.value == newID)
		{
			newID = "{{fitRoom.0.id}}";
			if (child.value == newID)
			{
				{% with fitRoom|last as newPant %}
				    newID = "{{newPant.id}}"
				{% endwith %}
//				if (child.value == newID)
//				{
//					newID = "";
//				}
			}
		}
	}
	if (newID) {newID += "/"}
	newForm.action="/pants4thunderthighs/super_compare/"+newID;
	newForm.method="post";
	
	var csrfToken = document.createElement("INPUT");
	csrfToken.name = "csrfmiddlewaretoken";
	csrfToken.type = "hidden";
	csrfToken.value = "{{token}}";
	
	newForm.appendChild(csrfToken);
	newForm.appendChild(child);
	newForm.submit();
}

function unfitThis(item)
{
	var unfitItem = document.createElement("INPUT");
	unfitItem.name = "unfitRoom";
	unfitItem.type = "hidden";
	unfitItem.value = item;
	makeForm(unfitItem);
}
</script>

<!-- start Mixpanel <script type="text/javascript">var mpq=[];mpq.push(["init","22c229665c519c7fb9b7a703e0df621e"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
</script> end Mixpanel -->
</head>
<body onload=makeReference(document.getElementById("{{reference.id}}"));makeCompare(document.getElementById("{{compared.id}}"))>
<div id="compare">

<div id="reference_pant">
	<img id="image"> 
	<ul class="fit_dict">
		<li>The front rise is going to fit like this. It's going to feel very nice.</li><br/>
		<li>Since the rise is 1/4 inch lower you it will cup your balls more.</li><br/>
		<li>The ratio of waist to rise may result in plumber butt.</li><br/>
		<li>This pant will taper more severly than the reference pant.</li>
	</ul>
	
	<div class="measurements" align="right">
	<ul class="measurement_data">
		<li id="designer"></li>
		<li id="model"></li>
		<li id="waist"></li>
		<li id="inseam"></li>
		<li id="cuff"></li>
		<li id="thigh"></li>
		<li id="front_rise"></li>
		<li id="back_rise"></li>
		<li id="hips"></li>
		<li id="knee"></li>
		<li id="outseam"></li>
	</ul>
	</div><!--closes measurements-->
</div><!--closes reference_pant-->

<div id="comp_pant_1">
	<img id="image">  
	<ul class="fit_dict">
		<li>The front rise is going to fit like this. It's going to feel very  nice.</li><br/>
		<li>Since the rise is 1/4 inch lower you it will cup your balls more.</li><br/>
		<li>The ratio of waist to rise may result in plumber butt.</li><br/>
		<li>This pant will taper more severly than the reference pant.</li>
	</ul>

	<div class="measurements">
	<ul class="measurement_data">
		<li id="designer"></li>
		<li id="model"></li>
		<li id="waist"></li>
		<li id="inseam"></li>
		<li id="cuff"></li>
		<li id="thigh"></li>
		<li id="front_rise"></li>
		<li id="back_rise"></li>
		<li id="hips"></li>
		<li id="knee"></li>
		<li id="outseam"></li>
	</ul>
	</div><!--closes measurements-->
</div><!--closes comp_pant_1-->

</div><!--closes compare-->
<!--<div id="desc"></div>-->

<div class="thumbnails">
	<input  type="image" onclick="makeCompare(this)" ondblclick="makeReference(this)" class="small_tile" id="{{reference.id}}" name="{{reference.id}}" src="{{reference.picURL}}" width="90" height="100">
{% for pant in fitRoom %}

	<input type="image" onclick="makeCompare(this)" ondblclick="makeReference(this)" class="small_tile" id="{{pant.id}}" name="{{pant.id}}" src="{{pant.picURL}}" width="90" height="100">
	<input type="button" class="fitting_room" onClick="unfitThis({{pant.id}})" name="remove{{pant.id}}" value="-">

{% endfor %}
</div><!--closes thumbnails-->
</body>