body {
margin-left:50px;
margin-top:20px;
}

h1, h2, h3, h4, h5, h6, a {
color: 23015E;
font-family:'Palatino', serif;
font-weight:lighter;
text-align:left;
}


h1 {
font-size: 50px;
line-height: 50px;
}

h2 {
font-size: 20px;
line-height: 0px
}

h3 {font-size: 30px;}

h4 {font-size: 16px;}

hr {
width: 100%;
background-image:url();
background-color: #9C052A;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}

#feedback {
width: 100px;
}

textarea {
border: 1px solid #C2C2C2;
}

.feedback {
	  -moz-box-shadow:inset 0px 1px 0px 0px #ededed;
	  -webkit-box-shadow:inset 0px 1px 0px 0px #ededed;
	  box-shadow:inset 0px 1px 0px 0px #ededed;
	  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
	  background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
	  background-color:#2e2e2e;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border-radius:6px;
	  border:1px solid #e6e6e6;
	  display:inline-block;
	  color:#ffffff;
	  font-family:arial;
	  font-size:15px;
	  font-weight:bold;
	  padding:4px 24px;
	  text-decoration:none;
	  text-shadow:1px 1px 0px #404040;
}.myButton:hover {
		 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
		 background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
		 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
		 background-color:#2e2e2e;
}.myButton:active {
		  position:relative;
		  top:1px;
}}

.feedback {
vertical-align:middle;
}
