body, h1, h2, h3, h4, h5, h6, label {
font-family:"Raleway";
background-image:url("{% get_static_prefix %}images/exclusive_paper.png")
}

#logo {
background:;
margin-left:100px;
}

#logo img{
padding-top:80px;
}

#pantpic {
margin-top:-80px;
background:g;}

.searchform {
margin-top:10px;
min-height:250px;
background:#FFF;
font-size:22px;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
padding-top:40px;
}

.tagline {
text-align:center;
background:;
}

#tag2 {
background:;
}

#selectors input {
margin-left:100px;
}

.initialdropdown {
}

.dropdown select {
font-size: 12px;
width: 70%;
float:right;
margin-top:7px;}

.dropdown h4 {
display:inline;
margin-left:15px;}



.signupbutton{
margin-top: 20px;
background-color:#ee432e;
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ee432\
e),color-stop(50%,#c63929),color-stop(50%,#b51700),color-stop(100%,#891100));
background-image:-webkit-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#89\
1100 100%);
background-image:-moz-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#89110\
0 100%);
background-image:-ms-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100\
 100%);
background-image:-o-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 \
100%);
background-image:linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100\
%);
border:1px solid #951100;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-moz-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-ms-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-o-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
color:#fff;
font:bold 20px "helvetica neue",helvetica,arial,sans-serif;
line-height:1;
padding:12px 0 14px 0;
text-align:center;
text-shadow:0 -1px 1px rgba(0,0,0,0.8);
margin-left:30px;
}

#searchform input {
margin-left:200px;
margin-right:auto;
width:100px;
}

#footer {
margin-top: 200px;
}