hr {
width: 100%;
background-image:url(http://static.everlane.com/distressed_topborder.png);
background-color: #9C052A;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}



h1, h2, h3, a {
color: 23015E;
font-family:'Palatino', serif;
font-weight:lighter;
text-align:left;
}




#companyname {
margin-top:20px;
}

h1 {
font-size: 50px;
line-height: 0px;}

h2 {
font-size: 20px;
}

h3 {font-size: 30px;}

h4 {font-size: 20px;
color: #AB98A8
}

a {text-decoration: none;}
a:hover {color:9C052A;}

#logo {
margin-left:100px;
margin-top: 200px;
width: 500px;
}

#explainer {
width: 400px;
float: left;
;}

#alpha{
font-size: 18px;
color: #AB98A8;
float: right;
margin: 50px;
margin-right: 200px;
font-weight: bold;
}
