body{background-color:white;}
h2{font-size: 20px; position: absolute; top:80px;}

#companyname{
font-family:;
color:white; 
font-size:30px; 
margin:0px; 
padding:0px;
position: absolute;
top: 5px;
}

a:link {text-decoration:none;}
a:visited  {text-decoration:none; color:#23015E;}
a:hover {text-decoration:none; font-weight:bold; }
a:active {text-decoration:underline;}

#backimage{
margin-top:0px;
margin-left: auto;
margin-right: auto;
}

#explainer{
font-size: 20px;

margin-top: 210px; 
margin-left:auto; 
margin-right: auto;
max-width: 700px; 
min-width: 300px;
font-family:; 
background-color:black; 
opacity:.7; 
color:white; 
padding-top: 15px; 
padding-bottom: 15px; 
padding-left:5px; 
padding-right:5px;
}

#signup{
font-size: 20px;
position: absolute; 
top: 200px; 
right: 300px; 
width: 300px; 
font-family:; 
background-color:black; 
opacity:.7; 
color:white;
padding-top:15px; 
padding-bottom:15px; 
padding-right:5px; 
padding-left:5px;
}

#links{
position: absolute; 
right: -75px; 
top:-150px;
font-family:; 
font-size:20px;
color:white; 
width:400px;
} 
