/* SITE WIDE */

a {text-decoration: none;}
a:hover {color:9C052A;} 

h1, h2, h3, h4, h5, h6, a {
color: 23015E;
font-family:'Palatino', serif;
font-weight:lighter;
text-align:left;
}


h1 {
font-size: 50px;
line-height: 20px;
}

h2 {
font-size: 20px;
line-height: 0px
}

h3 {font-size: 30px;}

h4 {font-size: 16px;}


ul{
list-style-type: none;
padding: 0;
margin: 0;
font-size: 11px;
}


li {
list-style: none; 
margin:0; 
}

p {
font: sans-serif;
}


hr {
width: 100%;
background-image:url();
background-color: #9C052A;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}

#title {
float: left;
margin-bottom:0px;
background-color:;
}

#headerlinks{
background-color:;
float:right;
margin-bottom:0;
margin-top: 30px;
}


#header, #footer {height: 100px; background-color: ; text-align: center;}
#header {margin-bottom: 10px; margin-top: 30px; background-color:;}
#footer {margin-top:30px; margin-bottom:10px; clear:both; }

#footerlinks{
width:80%;
margin:auto;
text-align:center;
margin-top:5px;
}

#headerlinks li, #footerlinks li {
display: inline;
padding:1em;

}

#sidebar {
margin-top:250px;
float: left;
position:fixed;
}

#feedback {
width: 100px;
}

.feedback {
	  -moz-box-shadow:inset 0px 1px 0px 0px #ededed;
	  -webkit-box-shadow:inset 0px 1px 0px 0px #ededed;
	  box-shadow:inset 0px 1px 0px 0px #ededed;
	  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
	  background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
	  background-color:#2e2e2e;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border-radius:6px;
	  border:1px solid #e6e6e6;
	  display:inline-block;
	  color:#ffffff;
	  font-family:arial;
	  font-size:15px;
	  font-weight:bold;
	  padding:4px 24px;
	  text-decoration:none;
	  text-shadow:1px 1px 0px #404040;
}.myButton:hover {
		 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
		 background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
		 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
		 background-color:#2e2e2e;
}.myButton:active {
		  position:relative;
		  top:1px;
}}

.feedback {
vertical-align:middle;
}

/* HOME(SEARCH) PAGE */

#mainsearch {
min-height: 400px;
}

#mainsearch a {
font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
color:23015E;
font-weight:normal;
text-decoration:underline;
}

#mainsearch a:hover {color:9C052A;} 


/* RESULTS PAGE */

#results {background:;}

#searchsidebar h4{
font-size:18px;
font-variant:small-caps;
line-height:0px;
}

#searchsidebar ui {
list-style-type:none;
padding:0px;
margin:0px;
}

#searchsidebar li
{
background-image:url(/static/images/gt.gif);
background-repeat:no-repeat;
background-position:0px 5px; 
padding-left:10px;
}


.tile {
margin: 5px;
float:left;
max-width:180px;
background-color:;
/*overflow:hidden; */
}

.desc {
min-height:120px;
/*white-space:nowrap; */
}

li.make, li.model, li.price, li.originalprice, li.sale {
display: inline;
color: 23015E;
font-family:'Palatino', serif;
font-size: 12px;
}

li.model, li.price, li.originalprice {color: $666;}
li.price, li.originalprice {margin-left:15px;}
li.sale {color:9C052A; margin-left:2px;}
li.originalprice {text-decoration: line-through;}

li.colors {
margin: 0;
padding: 0;
display: inline;
list-style: none;
}

#ref_make, #ref_model, #ref_price {font-size: 14px;}

#refpant li.category{
color: #23015E;
font-family: 'Palatino', serif;
}




/* PANT ENTRY PAGE */
#inputform hr {
width: 20%;
background-image:url();
background-color: #9C052A;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}


#starter {
clear:right;
}

/*NOT CURRENTLY USED */

#aboutsidebar {
float: left;
height: 500px;
color: $666;
}

/* Breadcrumb. Markup taken from http://projectcerbera.com/web/articles/breadcrumbs-markup */
#breadcrumb, #breadcrumb ol, #breadcrumb li {
 margin: 0;
 padding: 0;
 display: inline;
 list-style: none;
}
#breadcrumb ol {
 margin-left: 0.125em;
 padding-left: 0.25em;
 background: url(/static//images/gt.gif) no-repeat left center;
}
#breadcrumb li li {
 margin-left: 8px; /* Width of the arrow */
}
#breadcrumb, #breadcrumb a {
 margin-left: 0;
 padding-left: 0;
 color:$666;
}