/* SITE WIDE */

a {text-decoration: none; color: 838181;}
a:hover {color:9C052A;} 

h1 {
color: 83818;
font-size: 48px;
line-height: 20px;
font-family: 'Raleway', cursive;
}

h2 {
color: 83818;
font-family: 'Sorts Mill Goudy', serif;
text-align:left;
font-size: 16px;
line-height: 0px;
}

h3 {
color: 838181;
font-size: 20px;
line-height: 20px;
font-family: 'Raleway', cursive;
}

ul{
list-style-type: none;
padding: 0;
margin: 0;
font-size: 11px;
}


li {
list-style: none; 
margin:0; 
}

p {
font: sans-serif;
}


hr {
width: 100%;
background-image:url();
background-color: 838181;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}

#title {
float: left;
margin-bottom:0px;
background-color:;
}

#headerlinks{
background-color:;
float:right;
margin-bottom:0;
margin-top: 30px;
}

#header, #footer {height: 100px; background-color: ; text-align: center;}
#header {margin-bottom: 10px; margin-top: 30px; background-color:;}
#footer {margin-top:30px; margin-bottom:10px; clear:both; }

#footerlinks{
width:80%;
margin:auto;
text-align:center;
margin-top:5px;
}

#headerlinks li, #footerlinks li {
display: inline;
padding:1em;
font-variant:small-caps;
color: 838181;
font-family: 'Sorts Mill Goudy', serif;
text-align:right;
font-size: 16px;
}

#sidebar {
margin-top:250px;
float: left;
position:fixed;
}

#feedback {
width: 100px;
}

.feedback {
	  -moz-box-shadow:inset 0px 1px 0px 0px #ededed;
	  -webkit-box-shadow:inset 0px 1px 0px 0px #ededed;
	  box-shadow:inset 0px 1px 0px 0px #ededed;
	  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
	  background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
	  background-color:#2e2e2e;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border-radius:6px;
	  border:1px solid #e6e6e6;
	  display:inline-block;
	  color:#ffffff;
	  font-family:arial;
	  font-size:15px;
	  font-weight:bold;
	  padding:4px 24px;
	  text-decoration:none;
	  text-shadow:1px 1px 0px #404040;
}.myButton:hover {
		 background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e2e2e), color-stop(1, #2e2e2e) );
		 background:-moz-linear-gradient( center top, #2e2e2e 5%, #2e2e2e 100% );
		 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e2e2e', endColorstr='#2e2e2e');
		 background-color:#2e2e2e;
}.myButton:active {
		  position:relative;
		  top:1px;
}}

.feedback {
vertical-align:middle;
}

/* HOME(SEARCH) PAGE */

#mainsearch {
min-height: 400px;
}

#mainsearch a {
font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
color:838181;
font-weight:normal;
text-decoration:underline;
}

#mainsearch a:hover {color:9C052A;} 


/* RESULTS PAGE */

.tile {
	margin-left: 5px;
	float:left;
	width:180px;
	height:280px;
	background-color:;
	overflow:hidden;
}

#item {
padding-bottom: 60px;
}

#imagecontainer{
	height:220px;
	width:180px;
	text-align:center;
	cursor: pointer;
	z-index:1;
}

#resultimage {
	width: 180px;
	height:220px;
}

.pantlabel{
	position:relative;
	top:-55px;
	height: 55px;
	background-color:#FFFFFF;
	opacity:.8;
	z-index:2;
}

#fittingroombutton {
	color:white;
	float:right;
	border:none;
	position:relative;
	background-color:838181;
	opacity: .5;
	top:-275px;
	z-index:2;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.fitting_room {
	color:white;
	float:right;
	border:none;
	position:relative;
	background-color:838181;
	opacity: .5;
	top:-275px;
	z-index:2;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.pantlabel li {
	font: 'Helvetica Neue';
	font-size:12px;
	z-index:3;
	color: black;
}

.pantlabel ul {
	padding-left:7px
}

.dropfilterLink {
	background-color: transparent;
	text-decoration: none;
	border: none;
	color: blue;
}

.desc {
	position:relative;
	padding-top: 30px;
}

#breadcrumb {
background-color:;
}

#breadcrumb button{
display: inline;
padding:1em;
}

.addFilterLink {
	cursor: pointer;
	position:absolute;
	right:0px;
	text-align:center;
	vertical-align:middle;
	color: #838181;
	font-family: 'Helvetica Neue Reg', sans-serif;
	font-variant:small-caps;
	font-size: 12px;
	background-color:transparent;
	border:none;
	height:15px;
}

.dropFilterLink {
	cursor: pointer;
	color: #838181;
	font-family: 'Helvetica Neue Reg', sans-serif;
	font-variant:small-caps;
	font-size: 12px;
	background-color:transparent;
	border:none;
	height:15px;
	display:inline;
}

.dropx {
	cursor: pointer;
	font-family: 'Helvetica Neue Reg', sans-serif;
	color:white;
	border:none;
	background-color:838181;
	opacity:.5;
	height: 20px;
	width: 20px;
	cursor: pointer;
	display:inline;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	position:relative;
	left:-15px;
	top:-3px;
}

.fitting_room {
}
#circlex {

}

li.make, li.model, li.price, li.originalprice, li.sale {
display: inline;
color: 838181;
font-family:;
font-size: 12px;
}

li.model, li.price, li.originalprice {color: 838181;}
li.price, li.originalprice {margin-left:15px;}
li.sale {color:9C052A; margin-left:2px;}
li.originalprice {text-decoration: line-through;}

li.model {overflow:hidden; white-space: nowrap; width: 180px;}

li.colors {
margin: 0;
padding: 0;
display: inline;
list-style: none;
}

#ref_make, #ref_model, #ref_price {font-size: 14px;}

#refpant li.category{
color: #838181;
font-family:;
}



/* PANT ENTRY PAGE */
#inputform hr {
width: 20%;
background-image:url();
background-color: #9C052A;
height: 1px;
line-height:0px;
margin:0;
border: 0;
padding:0;
}

.drawnpant {
max-height:300px;
width:auto;

}

#starter {
clear:right;
}


/* Landing Page */
#companyname h1, h2{
color:white;
margin-left: 100px;
}

#companyname h1 {
font-weight: bold;
margin-top:150px;
}

#companyname{
margin:0px; 
padding:0px;
position: absolute;
top: 5px;
}

#explainer{
margin-top: 410px; 
margin-left:auto; 
margin-right: auto;
max-width: 700px; 
min-width: 400px;
background-color:black; 
opacity:.7; 
color:white; 
z-index:1;
padding:10px;
}

#explainer p {
font-family:'Helvetica Neue Light', Helvetica, Arial,sans-serif;
}


#backimage {
position: fixed;
top:0;
margin-top:0px;
margin-left: auto;
margin-right: auto;
z-index:-1;
}




/*CODE WE PROBABLY DONT NEED BUT JUST IN CASE

Breadcrumb. Markup taken from http://projectcerbera.com/web/articles/breadcrumbs-markup 
#breadcrumb, #breadcrumb ol, #breadcrumb li {
 margin: 0;
 padding: 0;
 display: inline;
 list-style: none;
}
#breadcrumb ol {
 margin-left: 0.125em;
 padding-left: 0.25em;
 background: url(/static//images/gt.gif) no-repeat left center;
}
#breadcrumb li li {
 margin-left: 8px; 
}
#breadcrumb, #breadcrumb a {
 margin-left: 0;
 padding-left: 0;
 color:$666;
}



h3 {font-size: 30px;}
h4 {font-size: 16px;}

#searchsidebar h4{
font-size:18px;
font-variant:small-caps;
line-height:0px;
}

#searchsidebar ui {
list-style-type:none;
padding:0px;
margin:0px;
}

#searchsidebar li
{
background-image:url(/static/images/gt.gif);
background-repeat:no-repeat;
background-position:0px 5px; 
padding-left:10px;
}
*/
