.layout {background-color:green;}

h3 {
line-height:normal;
}

#retailerinfo {
background-color:;
border: 1px solid #A8A8A8;
padding:5px;
}

#descrip {}

#retailerinfo p{
display: inline;
}

#fit_desc{
background-color:#FFFFFF;
opacity:.8;
margin:3px;
padding:2px;
}

#ankle {

}

.retail_about {
}

.retailer_label{
	/*position:relative;
	top:-55px;
	z-index:2;
	height: 55px;
	
	background-color:#FFFFFF;
	*/
background-color:#FFFFFF;
opacity:.8;
margin:3px;
padding:2px;
}

.retail_returns {
}

#image {
	width: 200px;
	height: 240px;

}

.fitting_room {
        cursor: pointer;
        font-family: 'Helvetica Neue Reg', sans-serif;
        color:white;
        border:none;
        background-color:#838181;
        opacity:.5;
        height: 20px;
        width: 20px;
        display:inline;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        position:relative;
        left:-25px;
        top:-87px;
}



#compare {
}

#compdatatable{
clear:left;
background-color:;
overflow:hidden;
border:#DDDDDD;
}

#datatable {
}

td {padding:5px;}
tr:nth-child(2n+4) {background: #F5F5F5}

/*
.columnar {
margin-left:0px;
margin-right:0px;
border: 1px solid green;
}

.measurements {
margin-left:0px;
margin-right:0px;
border: 1px solid red;
}

.measurementdata {
margin-left:0px;
margin-right:0px;
border: 1px solid blue;
}

#comp_images {
white-space:nowrap;
overflow:hidden;
display:inline;
max-width:170px;
}
*/

li .designer {
}

#labels {
	background-color:;
}

#ref_pant_image {

}

#reference_pant {
	border:blue;
	background-color:;
}

#comp_pant_1 {
	background-color:;
	overflow:hidden;
	}

#comp_pant_image {
float:right;
}

#comp_pant_image img {
width:80%;
}

#explain {
background: #DBDBDB;
}

#explain li {
padding: 8px;
list-style-type: circle;
}

#reference_pant .measurements{
	float:right;
}

#refr_image {
width: 150px;
height: auto;
}

#compr_image {
width: 300px;
height: auto;
}

.thumbnails  {
margin-top: 60px;
}

.thumbnail {
	display: inline;
	margin:5px;
	clear: both;
	width:900px;
}

.outline {
outline: 1px solid #A8A8A8;
}

.border {
border: 1px solid #505050;
}

.container {
margin-top:-40px;
}

/* #PK ADDED Main SITE INFO
================================================== */
#header {
background-color:;
}

#headerlinks {
float:right;
background-color:;
text-align:right;
}

#title {
background-color:;
}

#headerlinks li {
display: inline;
padding:1em;
color: #D9DBD0;
text-align:right;
font-size: 22px; 
font-weight:bold;
font-family: 'Raleway'}
 
/*#footer {text-align: center; margin-top:30px; background:;}
#footer li {display: inline; padding:1em;}

#footerlinks li {
display: inline;
padding:1em;
color: #D9DBD0;
font-family: 'Sorts Mill Goudy', serif;
}*/

a {text-decoration: none; color:black;}
a:hover {color:#9C052A;} 
a:visited {color:#D9DBD0;}

h1  {
color: #black;
font-size: 48px;
line-height: 10px;
font-family: 'Raleway', cursive;
}

h2 {
color: black;
font-family: 'Sorts Mill Goudy', serif;
font-size: 16px;
}

h3 {
color: #black;
font-size: 20px;
font-family: 'Raleway', cursive;
}

h4 {
font: 16px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #black;
}

#searchform {
margin-left:20px;
margin-top:60px;
}

#sidebar {
margin-top:250px;
float: left;
position:fixed;
}

#feedback {
width: 100px;
}

/* HOME.HTML */

#mainsearch h3 {
color: #C30017;
}

#mainsearch {
min-height:500px;
margin-top:10px;
}

#mainpant {
margin-right:0px;
margin-top:10px;
}

#tagline {
margin-left: 40px;
}

#tagline2 {
margin-top: 10px;
}

.initialdropdown {
width:170px;
color: #6e6e6e;
font: 14px Helvetica, Arial, sans-serif;
text-decoration: none;
    padding:5px 3px 3px 3px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    margin-top: 3px;

}

.signup {
margin-top: 20px;
background-color:#2F35EB;
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#2F35EB),color-stop(50%,#296AC6),color-stop(50%,#296AC6),color-stop(100%,#296AC6));
background-image:-webkit-linear-gradient(top,#2F35EB 0,#296AC6 50%,#296AC6 50%,#296AC6 100%);
background-image:-moz-linear-gradient(top,#2F35EB 0,#296AC6 50%,#296AC6 50%,#296AC6 100%);
background-image:-ms-linear-gradient(top,#2F35EB 0,#296AC6 50%,#296AC6 50%,#296AC6 100%);
background-image:-o-linear-gradient(top,#2F35EB 0,#296AC6 50%,#296AC6 50%,#296AC6 100%);
background-image:linear-gradient(top,#2F35EB 0,#296AC6 50%,#296AC6 50%,#296AC6 100%);
border:1px solid #1500FF;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:inset 0 0 0 1px rgba(233,100,100,0.4),0 1px 3px #1500FF;
-moz-box-shadow:inset 0 0 0 1px rgba(233,100,100,0.4),0 1px 3px #1500FF;
-ms-box-shadow:inset 0 0 0 1px rgba(233,100,100,0.4),0 1px 3px #1500FF;
-o-box-shadow:inset 0 0 0 1px rgba(233,100,100,0.4),0 1px 3px #1500FF;
box-shadow:inset 0 0 0 1px rgba(233,100,100,0.4),0 1px 3px #1500FF;
font:bold 20px "helvetica neue",helvetica,arial,sans-serif;
line-height:1;
text-align:center;
text-shadow:0 -1px 1px rgba(0,0,0,0.8);
height:30px;
}

/* RESULTS.HTML */

#refpant h3, h6 {
text-align:center;
margin-bottom:10px;}

#filter_list h6{
text-align:left;
}

.pantlabel{
        position:relative;
        top:-70px;
	height: 70px;
        background-color: #FFFFFF;
        opacity:.8;
        z-index:2;
}

.tile {
        margin-left: 5px;
	float:left;
        width:180px;
        height:280px;
        background-color:;
	overflow:hidden;
}

#item {
padding-bottom: 60px;
}

#imagecontainer{
        height:220px;
        width:180px;
        text-align:center;
        cursor: pointer;
        z-index:1;
}


#resultimage {
        width: 180px;
        height:220px;
}

#fittingroombutton {
        color:white;
        float:right;
        border:none;
        position:relative;
        background-color:#838181;
        opacity: .5;
        top:-297px;
        z-index:2;
        height: 20px;
        width: 20px;
        cursor: pointer;
	padding: 2px 2px 8px 3px;
	font-weight: normal;
}

.fitting_room {
        color:white;
        float:right;
        border:none;
        position:relative;
	background-color:#838181;
        opacity: .5;
        top:-275px;
        z-index:2;
	height: 20px;
        width: 20px;
        cursor: pointer;
}

.pantlabel {

        }
.pantlabel li {
        font: 'Helvetica Neue';
        font-size:12px;
        z-index:3;
        color: black;
}

.pantlabel ul {
        padding-left:7px;
}

.addFilterLink {
		width:130px;
		background-color:transparent;
		color: #838181;
        /*
        cursor: pointer;
        position:absolute;
        right:15px;
        text-align:center;
        vertical-align:middle;
        font-family: 'Helvetica Neue Reg', sans-serif;
        height:20px;
		
        color: #838181;
        font-variant:small-caps;
        font-size: 12px;
        
		*/
}


.opque_button {

}

.dropfilterLink {
        background-color: transparent;
        text-decoration: none;
        border: none;
        color: #838181;
        font-family: 'Helvetica Neue Reg', sans-serif;
        font-variant:small-caps;
}

.desc {
        position:relative;
}

/*
.addplus {
        cursor: pointer;
        font-family: 'Helvetica Neue Reg', sans-serif;
        color:white;
        border:none;
        background-color:#838181;
        opacity:.5;
        height: 20px;
        width: 20px;
        display:inline;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        position:relative;
        left:160px;
        top:-3px;
}
*/

.dropx {
        cursor: pointer;
        font-family: 'Helvetica Neue Reg', sans-serif;
        color:white;
        border:none;
        background-color:#838181;
        opacity:.5;
        height: 20px;
        width: 20px;
        display:inline;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        position:relative;
        left:-15px;
        top:-3px;
}

li.make, li.model, li.originalprice, li.sale {
display: inline;
color: black;	
font-size: 12px;
}

li.price, li.originalprice {margin-left:15px;}
li.sale {color:9C052A; margin-left:2px;}
li.originalprice {text-decoration: line-through;}

li.model {overflow:hidden; white-space: nowrap; width: 180px;}

li.colors {
margin: 0;
padding: 0;
display: inline;
list-style: none;
}

#ref_make, #ref_model, #ref_price {font-size: 14px;}

#refpant li.category{
color: #838181;
font-family:;
}

/* PANT ENTRY */
.entry_description {
float: right;
width:300px;
margin-top:20px;
}


#inputform input {
display:inline;
margin-top: -20px;
height:10px;
width:100px;}

#number_inputs input {
width: 20px;
}

#inputform p {
display:inline;
margin-left:8px;
}

#compsubmit input {
width:100px;
height:30px;
margin-top:0px;
}

. fit_prose {
text-align: center;
}

/* New Results2 CSS*/

#refbar {
background:white;
}

#upper_filters {

float:right;
margin-left:-40px;
}

#res_ref_pant {
margin-left:40px;
}

#results {
background:white;

}

.item_info {
display: inline;
color: black;
font-size: 12px;
}

.desc ul {
margin-top:-10px;}

body {background-image:url("{% get_static_prefix %}images/heaven.jpg")}


#results_box {
border: 5px solid white;
background:white;
}


#ankle {
clear:both;
}


/* HOW IT WORKS */

.inline{
display:inline;
}

#reg_form input[type="text"] {
display:inline;
}

#forminput1 {
backround-color: green;
}

.howitworkstile
{width: 230px;
}

.signup {
display:inline;
background-color:green;
}

.fieldlabel {
padding-left: 20px;
}

#tux {
	max-width:300px;
    display:block;
    margin-left: auto;
    margin-right: auto; 
    }

#logobox {
background-color:;
text-align:center;
margin-top:60px;
}

#logoimg {
background-color:;
min-width:240px;
}

.featurebox {
min-height:203px;
margin-top:30px;
padding:16px;
border-radius:5px;
box-shadow:rgba(0,0,0,0.15) 0 2px 4px;
background: white;
}

.featurebox img {
height:90px;
}

body
{
background-image:url('{% get_static_prefix %}images/heaven.jpeg');
}

.signupbutton{
margin-top: 20px;
background-color:#ee432e;
background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ee432e),color-stop(50%,#c63929),color-stop(50%,#b51700),color-stop(100%,#891100));
background-image:-webkit-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100%);
background-image:-moz-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100%);
background-image:-ms-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100%);
background-image:-o-linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100%);
background-image:linear-gradient(top,#ee432e 0,#c63929 50%,#b51700 50%,#891100 100%);
border:1px solid #951100;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
-webkit-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-moz-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-ms-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
-o-box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
box-shadow:inset 0 0 0 1px rgba(255,115,100,0.4),0 1px 3px #333;
color:#fff;
font:bold 20px "helvetica neue",helvetica,arial,sans-serif;
line-height:1;
padding:12px 0 14px 0;
text-align:center;
text-shadow:0 -1px 1px rgba(0,0,0,0.8);
width:150px
}

#signupbutton {
display:block;
margin-left:auto;
margin-right:auto;
}