ul{
ompalist-style-type: none;
padding: 0;
margin: 0;
font-size: 12px;
font-family: 'helvetica';;
}

li {
list-style: none; 
margin:0; 
}

#image {
	width: 200px;
	height: 240px;
}

#compare {
	height: 500px;
	padding: 5px;
	background: ;
}

.fitting_room {
background: grey;
}

#labels {
	background: ;
	width: 60px;
	margin-top: 280px;
	margin-left: 30px;
}

#reference_pant {
        width: 200px;
        background: ;
	margin-left: 100px;
	margin-top: -395px;
}

#comp_pant_1 {
        margin-left: 300px;
	margin-top: -395px;
        width: 200px;
        background: ;}


#descrip {
	background: ;
	width:250px;
	height: 450px;
	float: right;
	font-size: 12px;
	font-family: 'helvetica';
	margin-top: -390px;
	margin-right: 215px;
}

#explain {
background: grey;
width: 100px;
float: right;
margin-top: -380px;
margin-right: -400px;
font-family: 'helvetica';
font-size: 12px;
}
	

#thumbnails {
	padding-top:25px;
}

#reference_pant .measurements{
	float:right;
}

.small_tile {
	display: inline;
	margin:5px;
	clear: both;
}
